//fonts
$leaguegothic: 'leaguegothic', 'impact', sans-serif
$leaguegothic-condensed: 'leaguegothic-condensed', 'impact', sans-serif
$montserrat: 'Montserrat', sans-serif


// Colors
$color-93degres: #ffbc00
$color-dark: #3c2626
$color-dark: #000000
$color-light-grey: #aaa7a5
$white: #ffffff
$color-base-light: #f7f2ea
$color-carnet-dark: #f7911d
$color-carnet-light: #ffdcb4
$color-guide-dark: #708555
$color-guide-dark: #5f8f24
$color-guide-light: #99bb6f
$color-conseil-dark: #0080ff
$color-conseil-light: #e8f0f3
$light-grey: rgba(0, 0, 0, 0.05)

// Media Query
$screen-lg-min: 1200px;
$screen-md-min: 992px;
$screen-sm-min: 768px;
$screen-xs-max: 767px;


// Margin
$mobile-margin: 60px;
$desktop-margin: 8.33%;