//fonts
$leaguegothic: 'leaguegothic', sans-serif
$leaguegothic-condensed: 'leaguegothic-condensed', sans-serif
$cormorant: 'Cormorant', serif
$montserrat: 'Montserrat', sans-serif


// Colors
$color-93degres: #fcc30f
//$color-93degres: #f17100
$color-dark: #3c2626
$white: #ffffff
$color-article-dark: #e0ad86
$color-guide-dark: #708555
$color-article-light: #f7f2ea
$color-guide-light: #e5ede1
$color-advice-light: #e8f0f3
$light-grey: rgba(0, 0, 0, 0.05)

// Media Query

$screen-lg-min: 1200px;
$screen-md-min: 992px;
$screen-sm-min: 768px;
$screen-xs-max: 767px;

