.post-article 

	a .cta 
		color: $color-article-dark
		border-color: $color-article-dark
	
	.country-code h5, .categories, .date h5 
		color: $color-article-dark

	a .image .image_thumbnail--hover
		background: $color-article-light

	h1 span
		background: $color-article-dark


.post-guide 
	a .cta 
		color: $color-guide-dark
		border-color: $color-guide-dark
	
	.country-code h5, .categories, .date h5
		color: $color-guide-dark

	a .image .image_thumbnail--hover
		background: $color-guide-light
		

.post 
	display: inline-block
	float: none
	vertical-align: top
	margin-bottom: 6.25%
	z-index: 1

	+media-sm-and-less
		margin-bottom: 60px

	h1
		padding-top: 60px
		width: 85%
		font-size: 30px
		line-height: normal

		+media-sm-and-less
			width: 100%
	
	.image_thumbnail 
		position: relative
		overflow: hidden

		+media-sm-and-less
			padding-bottom: 50%
	
	.image_thumbnail--hover 
		position: absolute
		text-align: center
		top: 10px
		bottom: 10px
		left: 10px
		right: 10px
		opacity: 0
		transition: all .45s cubic-bezier(.4,0,0,1)
		
		.country-code 

			position: absolute
			left: -10%
			right: 50%
			top: 50%
			bottom: 1vw
			line-height: 0
			text-align: left
			margin-top: 200px
			opacity: 0
			transform: rotate(30deg)
			transition: all .45s cubic-bezier(.4,0,0,1)
			transition-delay: 0.15s
			
			h5 
				font-size: 14vw
				letter-spacing: 0;
				opacity: 0.15
			
		
		.label

			position: absolute
			top: 0
			bottom: 65%
			left: 0
			right: 66%
			margin-left: -200px
			opacity: 0
			transform: rotate(0deg)
			transition: all .45s cubic-bezier(.4,0,0,1)
			transition-delay: 0.15s
			
			img
				width: 100px
				opacity: 0.5
		
		.date
			position: absolute
			top: 10%
			bottom: 65%
			left: 25%
			right: 10%
			margin-left: 200px
			opacity: 0
			transform: rotate(0deg)
			transition: all .45s cubic-bezier(.4,0,0,1)
			transition-delay: 0.15s

			h5	

				font-size: 20px
				opacity: 1
				opacity: 0.75

		.table-cell 
			font-size: 72px
			line-height: 0
			position: relative
		
		h5 
			padding-right: 0
			letter-spacing: 0
		
	
	.categories 
		display: block
		position: relative
		height: 0
		top: 35px
	
	h4 
		display: block
		padding-top: 15px
		padding-bottom: 20px
		width: 85%

		+media-sm-and-less
			width: 100%

	h5 
		display: block
	
	&:hover
		.image_thumbnail--hover 
			opacity: 1
			margin-top: 0
			top: 10px
			bottom: 10px
			left: 10px
			right: 10px
			.label 
				transform: rotate(0deg)
				margin-left: 0
				opacity: 1
			
			.country-code
				transform: rotate(0deg) 
				margin-top: 0
				opacity: 1

			.date 
				transform: rotate(0deg)
				margin-left: 0
				opacity: 1


	