.post-article 

	a .cta 
		color: $color-article-dark
		border-color: $color-article-dark
	
	.country-code h5, .categories 
		color: $color-article-dark

	a .image .image_thumbnail--hover
		background: $color-article-light


.post-guide 
	a .cta 
		color: $color-guide-dark
		border-color: $color-guide-dark
	
	.country-code h5, .categories 
		color: $color-guide-dark

	a .image .image_thumbnail--hover
		background: $color-guide-light
		

.post 
	display: inline-block
	float: none
	vertical-align: top
	margin-bottom: 6.25%

	+media-sm-and-less
		margin-bottom: 60px

	h1 
		padding-bottom: 15px
		padding-top: 60px
		width: 85%
		font-size: 30px
		line-height: normal

		+media-sm-and-less
			width: 100%
	
	.image_thumbnail 
		position: relative
		overflow: hidden

		+media-sm-and-less
			padding-bottom: 50%
	
	.image_thumbnail--hover 
		position: absolute
		text-align: center
		top: 10px
		bottom: 10px
		left: 10px
		right: 10px
		opacity: 0
		transition: all .6s cubic-bezier(.4,0,.2,1)
		
		.country-code 

			position: absolute
			left: -20px
			right: -20px
			top: 20%
			bottom: 20%
			line-height: 0
			text-align: left
			
			h5 
				font-size: 360px
				transition: all 0.6s cubic-bezier(.4,0,.2,1)
				letter-spacing: 0;
			
		
		.label 
			width: 200px
			transition: all 0.6s cubic-bezier(.4,0,.2,1)
		
		.table-cell 
			font-size: 72px
			line-height: 0
			z-index: 2
			position: relative
		
		h5 
			font-size: 120px
			padding-right: 0
		
	
	.categories 
		display: block
		position: relative
		height: 0
		top: 35px
	
	h4 
		display: block
		padding-bottom: 20px
		width: 85%

		+media-sm-and-less
			width: 100%

	h5 
		display: block
	
	&:hover
		.image_thumbnail--hover 
			opacity: 1
			margin-top: 0
			.label 
				width: 100px
			
			.country-code h5 
				font-size: 180px



	