#instagram 
	text-align: center
	
	h3 
		margin-bottom: 2.15%
		color: $color-93degres
		+media-sm-and-less
			margin-bottom: 30px
			font-size: 60px
	
	.cta 
		border-color: $color-93degres
		margin-top: 4.16%

		+media-sm-and-less
			margin-top: 30px;
	

.instagram_shots 
	text-align: center
	font-size: 0
	
	li 
		float: left
		width: 25%
		overflow: hidden

		+media-sm-and-less
			width: 50%
		
		img 
			width: 100%
			transition: 2s ease
		
		&:nth-child(2n) 
			margin-top: 4.16%

			+media-sm-and-less
				margin-top: 0