.deux-tiers--container

	.deux-tiers
		clear: both
		margin-bottom: 8.33%
		float: left;

		&__chapter
			margin-bottom: 2.5%
			margin-top: -2.5%
		
			h3 
				em 

					font-family: $leaguegothic
					color: $color-dark
					text-transform: uppercase
					letter-spacing: 0.4em
					font-size: 14px
					font-style: normal

		&__one-image, &__two-image
			
			img
				width: 100%

.un-tiers--container

	.un-tiers
		clear: right
		margin-bottom: 8.33%

		&__text
			padding: 12.5%
			+media-sm-and-less
				padding: 8.33%
			
			.title
				clear: right
				display: table
				margin-bottom: 20px
			img
				width: 30px
				float: left
				margin-right: 15px
				display: table-cell
				vertical-align: middle

			p
				opacity: 0.65

				a
					opacity: 1
			
			.title-content

				display: table-cell
				vertical-align: middle
				
				h5
					font-family: $leaguegothic
					text-transform: uppercase
					font-size: 14px
					letter-spacing: 0.4em
					text-align: left

		&__image

			img
				width: 100%

.full-width--container
	
	.full-width
		margin-bottom: 4.16%
		float: left

		blockquote
			padding: 8.33% 0
		
	.un-tiers

		&__image
			img
				width: 100%

		