.deux-tiers--container

	.deux-tiers
		clear: both
		margin-bottom: 8.33%
		float: left
		+media-sm-and-less
			margin-bottom: 0

		&__chapter
			margin-bottom: 2.5%

		&__one-image, &__two-image

			+media-sm-and-less
				margin-bottom: 8.33%
			
			img
				width: 100%

		&__paragraph

			+media-sm-and-less
				margin-bottom: 8.33%

		&__aside
			padding-top: 8.33%
			padding-bottom: 8.33%

.un-tiers--container

	.un-tiers
		clear: right
		margin-bottom: 8.33%

		&__text
			padding: 12.5%
			+media-sm-and-less
				padding: 8.33%
			
			.title
				clear: right
				display: table
				margin-bottom: 20px
			img
				width: 30px
				float: left
				margin-right: 15px
				display: table-cell
				vertical-align: middle

			p
				opacity: 0.65

				a
					opacity: 1
			
			.title-content

				display: table-cell
				vertical-align: middle

		&__image

			img
				width: 100%

.full-width--container
	
	.full-width
		margin-bottom: 4.16%
		float: left

		+media-sm-and-less
			margin-bottom: 0

		blockquote
			padding: 8.33% 0

			+media-sm-and-less
				margin-bottom: 8.33%
		
	.un-tiers

		&__image

			+media-sm-and-less
				margin-bottom: 8.33%

			img
				width: 100%

		