// Define typography
html {
  font: $font-style $font-variant $font-weight #{$font-size}/#{$line-height} $font-family;
}


.col-xs-1 {
	position: relative;
	min-height: 1px;
	padding-left: 0;
	padding-right: 0;
	float: left;
	width: 2.08333333%;
}
.col-xs-10 {
	position: relative;
	min-height: 1px;
	padding-left: 0;
	padding-right: 0;
	float: left;
	width: 20.83333333%;
}
.col-xs-11 {
	position: relative;
	min-height: 1px;
	padding-left: 0;
	padding-right: 0;
	float: left;
	width: 22.91666667%;
}
.col-xs-12 {
	position: relative;
	min-height: 1px;
	padding-left: 0;
	padding-right: 0;
	float: left;
	width: 25%;
}
.col-xs-13 {
	position: relative;
	min-height: 1px;
	padding-left: 0;
	padding-right: 0;
	float: left;
	width: 27.08333333%;
}
.col-xs-14 {
	position: relative;
	min-height: 1px;
	padding-left: 0;
	padding-right: 0;
	float: left;
	width: 29.16666667%;
}
.col-xs-15 {
	position: relative;
	min-height: 1px;
	padding-left: 0;
	padding-right: 0;
	float: left;
	width: 31.25%;
}
.col-xs-16 {
	position: relative;
	min-height: 1px;
	padding-left: 0;
	padding-right: 0;
	float: left;
	width: 33.33333333%;
}
.col-xs-17 {
	position: relative;
	min-height: 1px;
	padding-left: 0;
	padding-right: 0;
	float: left;
	width: 35.41666667%;
}
.col-xs-18 {
	position: relative;
	min-height: 1px;
	padding-left: 0;
	padding-right: 0;
	float: left;
	width: 37.5%;
}
.col-xs-19 {
	position: relative;
	min-height: 1px;
	padding-left: 0;
	padding-right: 0;
	float: left;
	width: 39.58333333%;
}
.col-xs-2 {
	position: relative;
	min-height: 1px;
	padding-left: 0;
	padding-right: 0;
	float: left;
	width: 4.16666667%;
}
.col-xs-20 {
	position: relative;
	min-height: 1px;
	padding-left: 0;
	padding-right: 0;
	float: left;
	width: 41.66666667%;
}
.col-xs-21 {
	position: relative;
	min-height: 1px;
	padding-left: 0;
	padding-right: 0;
	float: left;
	width: 43.75%;
}
.col-xs-22 {
	position: relative;
	min-height: 1px;
	padding-left: 0;
	padding-right: 0;
	float: left;
	width: 45.83333333%;
}
.col-xs-23 {
	position: relative;
	min-height: 1px;
	padding-left: 0;
	padding-right: 0;
	float: left;
	width: 47.91666667%;
}
.col-xs-24 {
	position: relative;
	min-height: 1px;
	padding-left: 0;
	padding-right: 0;
	float: left;
	width: 50%;
}
.col-xs-25 {
	position: relative;
	min-height: 1px;
	padding-left: 0;
	padding-right: 0;
	float: left;
	width: 52.08333333%;
}
.col-xs-26 {
	position: relative;
	min-height: 1px;
	padding-left: 0;
	padding-right: 0;
	float: left;
	width: 54.16666667%;
}
.col-xs-27 {
	position: relative;
	min-height: 1px;
	padding-left: 0;
	padding-right: 0;
	float: left;
	width: 56.25%;
}
.col-xs-28 {
	position: relative;
	min-height: 1px;
	padding-left: 0;
	padding-right: 0;
	float: left;
	width: 58.33333333%;
}
.col-xs-29 {
	position: relative;
	min-height: 1px;
	padding-left: 0;
	padding-right: 0;
	float: left;
	width: 60.41666667%;
}
.col-xs-3 {
	position: relative;
	min-height: 1px;
	padding-left: 0;
	padding-right: 0;
	float: left;
	width: 6.25%;
}
.col-xs-30 {
	position: relative;
	min-height: 1px;
	padding-left: 0;
	padding-right: 0;
	float: left;
	width: 62.5%;
}
.col-xs-31 {
	position: relative;
	min-height: 1px;
	padding-left: 0;
	padding-right: 0;
	float: left;
	width: 64.58333333%;
}
.col-xs-32 {
	position: relative;
	min-height: 1px;
	padding-left: 0;
	padding-right: 0;
	float: left;
	width: 66.66666667%;
}
.col-xs-33 {
	position: relative;
	min-height: 1px;
	padding-left: 0;
	padding-right: 0;
	float: left;
	width: 68.75%;
}
.col-xs-34 {
	position: relative;
	min-height: 1px;
	padding-left: 0;
	padding-right: 0;
	float: left;
	width: 70.83333333%;
}
.col-xs-35 {
	position: relative;
	min-height: 1px;
	padding-left: 0;
	padding-right: 0;
	float: left;
	width: 72.91666667%;
}
.col-xs-36 {
	position: relative;
	min-height: 1px;
	padding-left: 0;
	padding-right: 0;
	float: left;
	width: 75%;
}
.col-xs-37 {
	position: relative;
	min-height: 1px;
	padding-left: 0;
	padding-right: 0;
	float: left;
	width: 77.08333333%;
}
.col-xs-38 {
	position: relative;
	min-height: 1px;
	padding-left: 0;
	padding-right: 0;
	float: left;
	width: 79.16666667%;
}
.col-xs-39 {
	position: relative;
	min-height: 1px;
	padding-left: 0;
	padding-right: 0;
	float: left;
	width: 81.25%;
}
.col-xs-4 {
	position: relative;
	min-height: 1px;
	padding-left: 0;
	padding-right: 0;
	float: left;
	width: 8.33333333%;
}
.col-xs-40 {
	position: relative;
	min-height: 1px;
	padding-left: 0;
	padding-right: 0;
	float: left;
	width: 83.33333333%;
}
.col-xs-41 {
	position: relative;
	min-height: 1px;
	padding-left: 0;
	padding-right: 0;
	float: left;
	width: 85.41666667%;
}
.col-xs-42 {
	position: relative;
	min-height: 1px;
	padding-left: 0;
	padding-right: 0;
	float: left;
	width: 87.5%;
}
.col-xs-43 {
	position: relative;
	min-height: 1px;
	padding-left: 0;
	padding-right: 0;
	float: left;
	width: 89.58333333%;
}
.col-xs-44 {
	position: relative;
	min-height: 1px;
	padding-left: 0;
	padding-right: 0;
	float: left;
	width: 91.66666667%;
}
.col-xs-45 {
	position: relative;
	min-height: 1px;
	padding-left: 0;
	padding-right: 0;
	float: left;
	width: 93.75%;
}
.col-xs-46 {
	position: relative;
	min-height: 1px;
	padding-left: 0;
	padding-right: 0;
	float: left;
	width: 95.83333333%;
}
.col-xs-47 {
	position: relative;
	min-height: 1px;
	padding-left: 0;
	padding-right: 0;
	float: left;
	width: 97.91666667%;
}
.col-xs-48 {
	position: relative;
	min-height: 1px;
	padding-left: 0;
	padding-right: 0;
	float: left;
	width: 100%;
}
.col-xs-5 {
	position: relative;
	min-height: 1px;
	padding-left: 0;
	padding-right: 0;
	float: left;
	width: 10.41666667%;
}
.col-xs-6 {
	position: relative;
	min-height: 1px;
	padding-left: 0;
	padding-right: 0;
	float: left;
	width: 12.5%;
}
.col-xs-7 {
	position: relative;
	min-height: 1px;
	padding-left: 0;
	padding-right: 0;
	float: left;
	width: 14.58333333%;
}
.col-xs-8 {
	position: relative;
	min-height: 1px;
	padding-left: 0;
	padding-right: 0;
	float: left;
	width: 16.66666667%;
}
.col-xs-9 {
	position: relative;
	min-height: 1px;
	padding-left: 0;
	padding-right: 0;
	float: left;
	width: 18.75%;
}
.col-xs-pull-48 {
	right: 100%;
}
.col-xs-pull-47 {
	right: 97.91666667%;
}
.col-xs-pull-46 {
	right: 95.83333333%;
}
.col-xs-pull-45 {
	right: 93.75%;
}
.col-xs-pull-44 {
	right: 91.66666667%;
}
.col-xs-pull-43 {
	right: 89.58333333%;
}
.col-xs-pull-42 {
	right: 87.5%;
}
.col-xs-pull-41 {
	right: 85.41666667%;
}
.col-xs-pull-40 {
	right: 83.33333333%;
}
.col-xs-pull-39 {
	right: 81.25%;
}
.col-xs-pull-38 {
	right: 79.16666667%;
}
.col-xs-pull-37 {
	right: 77.08333333%;
}
.col-xs-pull-36 {
	right: 75%;
}
.col-xs-pull-35 {
	right: 72.91666667%;
}
.col-xs-pull-34 {
	right: 70.83333333%;
}
.col-xs-pull-33 {
	right: 68.75%;
}
.col-xs-pull-32 {
	right: 66.66666667%;
}
.col-xs-pull-31 {
	right: 64.58333333%;
}
.col-xs-pull-30 {
	right: 62.5%;
}
.col-xs-pull-29 {
	right: 60.41666667%;
}
.col-xs-pull-28 {
	right: 58.33333333%;
}
.col-xs-pull-27 {
	right: 56.25%;
}
.col-xs-pull-26 {
	right: 54.16666667%;
}
.col-xs-pull-25 {
	right: 52.08333333%;
}
.col-xs-pull-24 {
	right: 50%;
}
.col-xs-pull-23 {
	right: 47.91666667%;
}
.col-xs-pull-22 {
	right: 45.83333333%;
}
.col-xs-pull-21 {
	right: 43.75%;
}
.col-xs-pull-20 {
	right: 41.66666667%;
}
.col-xs-pull-19 {
	right: 39.58333333%;
}
.col-xs-pull-18 {
	right: 37.5%;
}
.col-xs-pull-17 {
	right: 35.41666667%;
}
.col-xs-pull-16 {
	right: 33.33333333%;
}
.col-xs-pull-15 {
	right: 31.25%;
}
.col-xs-pull-14 {
	right: 29.16666667%;
}
.col-xs-pull-13 {
	right: 27.08333333%;
}
.col-xs-pull-12 {
	right: 25%;
}
.col-xs-pull-11 {
	right: 22.91666667%;
}
.col-xs-pull-10 {
	right: 20.83333333%;
}
.col-xs-pull-9 {
	right: 18.75%;
}
.col-xs-pull-8 {
	right: 16.66666667%;
}
.col-xs-pull-7 {
	right: 14.58333333%;
}
.col-xs-pull-6 {
	right: 12.5%;
}
.col-xs-pull-5 {
	right: 10.41666667%;
}
.col-xs-pull-4 {
	right: 8.33333333%;
}
.col-xs-pull-3 {
	right: 6.25%;
}
.col-xs-pull-2 {
	right: 4.16666667%;
}
.col-xs-pull-1 {
	right: 2.08333333%;
}
.col-xs-pull-0 {
	right: auto;
}
.col-xs-push-48 {
	left: 100%;
}
.col-xs-push-47 {
	left: 97.91666667%;
}
.col-xs-push-46 {
	left: 95.83333333%;
}
.col-xs-push-45 {
	left: 93.75%;
}
.col-xs-push-44 {
	left: 91.66666667%;
}
.col-xs-push-43 {
	left: 89.58333333%;
}
.col-xs-push-42 {
	left: 87.5%;
}
.col-xs-push-41 {
	left: 85.41666667%;
}
.col-xs-push-40 {
	left: 83.33333333%;
}
.col-xs-push-39 {
	left: 81.25%;
}
.col-xs-push-38 {
	left: 79.16666667%;
}
.col-xs-push-37 {
	left: 77.08333333%;
}
.col-xs-push-36 {
	left: 75%;
}
.col-xs-push-35 {
	left: 72.91666667%;
}
.col-xs-push-34 {
	left: 70.83333333%;
}
.col-xs-push-33 {
	left: 68.75%;
}
.col-xs-push-32 {
	left: 66.66666667%;
}
.col-xs-push-31 {
	left: 64.58333333%;
}
.col-xs-push-30 {
	left: 62.5%;
}
.col-xs-push-29 {
	left: 60.41666667%;
}
.col-xs-push-28 {
	left: 58.33333333%;
}
.col-xs-push-27 {
	left: 56.25%;
}
.col-xs-push-26 {
	left: 54.16666667%;
}
.col-xs-push-25 {
	left: 52.08333333%;
}
.col-xs-push-24 {
	left: 50%;
}
.col-xs-push-23 {
	left: 47.91666667%;
}
.col-xs-push-22 {
	left: 45.83333333%;
}
.col-xs-push-21 {
	left: 43.75%;
}
.col-xs-push-20 {
	left: 41.66666667%;
}
.col-xs-push-19 {
	left: 39.58333333%;
}
.col-xs-push-18 {
	left: 37.5%;
}
.col-xs-push-17 {
	left: 35.41666667%;
}
.col-xs-push-16 {
	left: 33.33333333%;
}
.col-xs-push-15 {
	left: 31.25%;
}
.col-xs-push-14 {
	left: 29.16666667%;
}
.col-xs-push-13 {
	left: 27.08333333%;
}
.col-xs-push-12 {
	left: 25%;
}
.col-xs-push-11 {
	left: 22.91666667%;
}
.col-xs-push-10 {
	left: 20.83333333%;
}
.col-xs-push-9 {
	left: 18.75%;
}
.col-xs-push-8 {
	left: 16.66666667%;
}
.col-xs-push-7 {
	left: 14.58333333%;
}
.col-xs-push-6 {
	left: 12.5%;
}
.col-xs-push-5 {
	left: 10.41666667%;
}
.col-xs-push-4 {
	left: 8.33333333%;
}
.col-xs-push-3 {
	left: 6.25%;
}
.col-xs-push-2 {
	left: 4.16666667%;
}
.col-xs-push-1 {
	left: 2.08333333%;
}
.col-xs-push-0 {
	left: auto;
}
.col-xs-offset-48 {
	margin-left: 100%;
}
.col-xs-offset-47 {
	margin-left: 97.91666667%;
}
.col-xs-offset-46 {
	margin-left: 95.83333333%;
}
.col-xs-offset-45 {
	margin-left: 93.75%;
}
.col-xs-offset-44 {
	margin-left: 91.66666667%;
}
.col-xs-offset-43 {
	margin-left: 89.58333333%;
}
.col-xs-offset-42 {
	margin-left: 87.5%;
}
.col-xs-offset-41 {
	margin-left: 85.41666667%;
}
.col-xs-offset-40 {
	margin-left: 83.33333333%;
}
.col-xs-offset-39 {
	margin-left: 81.25%;
}
.col-xs-offset-38 {
	margin-left: 79.16666667%;
}
.col-xs-offset-37 {
	margin-left: 77.08333333%;
}
.col-xs-offset-36 {
	margin-left: 75%;
}
.col-xs-offset-35 {
	margin-left: 72.91666667%;
}
.col-xs-offset-34 {
	margin-left: 70.83333333%;
}
.col-xs-offset-33 {
	margin-left: 68.75%;
}
.col-xs-offset-32 {
	margin-left: 66.66666667%;
}
.col-xs-offset-31 {
	margin-left: 64.58333333%;
}
.col-xs-offset-30 {
	margin-left: 62.5%;
}
.col-xs-offset-29 {
	margin-left: 60.41666667%;
}
.col-xs-offset-28 {
	margin-left: 58.33333333%;
}
.col-xs-offset-27 {
	margin-left: 56.25%;
}
.col-xs-offset-26 {
	margin-left: 54.16666667%;
}
.col-xs-offset-25 {
	margin-left: 52.08333333%;
}
.col-xs-offset-24 {
	margin-left: 50%;
}
.col-xs-offset-23 {
	margin-left: 47.91666667%;
}
.col-xs-offset-22 {
	margin-left: 45.83333333%;
}
.col-xs-offset-21 {
	margin-left: 43.75%;
}
.col-xs-offset-20 {
	margin-left: 41.66666667%;
}
.col-xs-offset-19 {
	margin-left: 39.58333333%;
}
.col-xs-offset-18 {
	margin-left: 37.5%;
}
.col-xs-offset-17 {
	margin-left: 35.41666667%;
}
.col-xs-offset-16 {
	margin-left: 33.33333333%;
}
.col-xs-offset-15 {
	margin-left: 31.25%;
}
.col-xs-offset-14 {
	margin-left: 29.16666667%;
}
.col-xs-offset-13 {
	margin-left: 27.08333333%;
}
.col-xs-offset-12 {
	margin-left: 25%;
}
.col-xs-offset-11 {
	margin-left: 22.91666667%;
}
.col-xs-offset-10 {
	margin-left: 20.83333333%;
}
.col-xs-offset-9 {
	margin-left: 18.75%;
}
.col-xs-offset-8 {
	margin-left: 16.66666667%;
}
.col-xs-offset-7 {
	margin-left: 14.58333333%;
}
.col-xs-offset-6 {
	margin-left: 12.5%;
}
.col-xs-offset-5 {
	margin-left: 10.41666667%;
}
.col-xs-offset-4 {
	margin-left: 8.33333333%;
}
.col-xs-offset-3 {
	margin-left: 6.25%;
}
.col-xs-offset-2 {
	margin-left: 4.16666667%;
}
.col-xs-offset-1 {
	margin-left: 2.08333333%;
}
.col-xs-offset-0 {
	margin-left: 0;
}

@media screen and (min-width:768px) {

		
	.col-sm-1 {
		position: relative;
		min-height: 1px;
		padding-left: 0;
		padding-right: 0;
	}
	.col-sm-10 {
		position: relative;
		min-height: 1px;
		padding-left: 0;
		padding-right: 0;
	}
	.col-sm-11 {
		position: relative;
		min-height: 1px;
		padding-left: 0;
		padding-right: 0;
	}
	.col-sm-12 {
		position: relative;
		min-height: 1px;
		padding-left: 0;
		padding-right: 0;
	}
	.col-sm-13 {
		position: relative;
		min-height: 1px;
		padding-left: 0;
		padding-right: 0;
	}
	.col-sm-14 {
		position: relative;
		min-height: 1px;
		padding-left: 0;
		padding-right: 0;
	}
	.col-sm-15 {
		position: relative;
		min-height: 1px;
		padding-left: 0;
		padding-right: 0;
	}
	.col-sm-16 {
		position: relative;
		min-height: 1px;
		padding-left: 0;
		padding-right: 0;
	}
	.col-sm-17 {
		position: relative;
		min-height: 1px;
		padding-left: 0;
		padding-right: 0;
	}
	.col-sm-18 {
		position: relative;
		min-height: 1px;
		padding-left: 0;
		padding-right: 0;
	}
	.col-sm-19 {
		position: relative;
		min-height: 1px;
		padding-left: 0;
		padding-right: 0;
	}
	.col-sm-2 {
		position: relative;
		min-height: 1px;
		padding-left: 0;
		padding-right: 0;
	}
	.col-sm-20 {
		position: relative;
		min-height: 1px;
		padding-left: 0;
		padding-right: 0;
	}
	.col-sm-21 {
		position: relative;
		min-height: 1px;
		padding-left: 0;
		padding-right: 0;
	}
	.col-sm-22 {
		position: relative;
		min-height: 1px;
		padding-left: 0;
		padding-right: 0;
	}
	.col-sm-23 {
		position: relative;
		min-height: 1px;
		padding-left: 0;
		padding-right: 0;
	}
	.col-sm-24 {
		position: relative;
		min-height: 1px;
		padding-left: 0;
		padding-right: 0;
	}
	.col-sm-25 {
		position: relative;
		min-height: 1px;
		padding-left: 0;
		padding-right: 0;
	}
	.col-sm-26 {
		position: relative;
		min-height: 1px;
		padding-left: 0;
		padding-right: 0;
	}
	.col-sm-27 {
		position: relative;
		min-height: 1px;
		padding-left: 0;
		padding-right: 0;
	}
	.col-sm-28 {
		position: relative;
		min-height: 1px;
		padding-left: 0;
		padding-right: 0;
	}
	.col-sm-29 {
		position: relative;
		min-height: 1px;
		padding-left: 0;
		padding-right: 0;
	}
	.col-sm-3 {
		position: relative;
		min-height: 1px;
		padding-left: 0;
		padding-right: 0;
	}
	.col-sm-30 {
		position: relative;
		min-height: 1px;
		padding-left: 0;
		padding-right: 0;
	}
	.col-sm-31 {
		position: relative;
		min-height: 1px;
		padding-left: 0;
		padding-right: 0;
	}
	.col-sm-32 {
		position: relative;
		min-height: 1px;
		padding-left: 0;
		padding-right: 0;
	}
	.col-sm-33 {
		position: relative;
		min-height: 1px;
		padding-left: 0;
		padding-right: 0;
	}
	.col-sm-34 {
		position: relative;
		min-height: 1px;
		padding-left: 0;
		padding-right: 0;
	}
	.col-sm-35 {
		position: relative;
		min-height: 1px;
		padding-left: 0;
		padding-right: 0;
	}
	.col-sm-36 {
		position: relative;
		min-height: 1px;
		padding-left: 0;
		padding-right: 0;
	}
	.col-sm-37 {
		position: relative;
		min-height: 1px;
		padding-left: 0;
		padding-right: 0;
	}
	.col-sm-38 {
		position: relative;
		min-height: 1px;
		padding-left: 0;
		padding-right: 0;
	}
	.col-sm-39 {
		position: relative;
		min-height: 1px;
		padding-left: 0;
		padding-right: 0;
	}
	.col-sm-4 {
		position: relative;
		min-height: 1px;
		padding-left: 0;
		padding-right: 0;
	}
	.col-sm-40 {
		position: relative;
		min-height: 1px;
		padding-left: 0;
		padding-right: 0;
	}
	.col-sm-41 {
		position: relative;
		min-height: 1px;
		padding-left: 0;
		padding-right: 0;
	}
	.col-sm-42 {
		position: relative;
		min-height: 1px;
		padding-left: 0;
		padding-right: 0;
	}
	.col-sm-43 {
		position: relative;
		min-height: 1px;
		padding-left: 0;
		padding-right: 0;
	}
	.col-sm-44 {
		position: relative;
		min-height: 1px;
		padding-left: 0;
		padding-right: 0;
	}
	.col-sm-45 {
		position: relative;
		min-height: 1px;
		padding-left: 0;
		padding-right: 0;
	}
	.col-sm-46 {
		position: relative;
		min-height: 1px;
		padding-left: 0;
		padding-right: 0;
	}
	.col-sm-47 {
		position: relative;
		min-height: 1px;
		padding-left: 0;
		padding-right: 0;
	}
	.col-sm-48 {
		position: relative;
		min-height: 1px;
		padding-left: 0;
		padding-right: 0;
	}
	.col-sm-5 {
		position: relative;
		min-height: 1px;
		padding-left: 0;
		padding-right: 0;
	}
	.col-sm-6 {
		position: relative;
		min-height: 1px;
		padding-left: 0;
		padding-right: 0;
	}
	.col-sm-7 {
		position: relative;
		min-height: 1px;
		padding-left: 0;
		padding-right: 0;
	}
	.col-sm-8 {
		position: relative;
		min-height: 1px;
		padding-left: 0;
		padding-right: 0;
	}
	.col-sm-9 {
		position: relative;
		min-height: 1px;
		padding-left: 0;
		padding-right: 0;
	}

	.col-sm-1 {
		float: left;
		width: 2.08333333%;
	}
	.col-sm-10 {
		float: left;
		width: 20.83333333%;
	}
	.col-sm-11 {
		float: left;
		width: 22.91666667%;
	}
	.col-sm-12 {
		float: left;
		width: 25%;
	}
	.col-sm-13 {
		float: left;
		width: 27.08333333%;
	}
	.col-sm-14 {
		float: left;
		width: 29.16666667%;
	}
	.col-sm-15 {
		float: left;
		width: 31.25%;
	}
	.col-sm-16 {
		float: left;
		width: 33.33333333%;
	}
	.col-sm-17 {
		float: left;
		width: 35.41666667%;
	}
	.col-sm-18 {
		float: left;
		width: 37.5%;
	}
	.col-sm-19 {
		float: left;
		width: 39.58333333%;
	}
	.col-sm-2 {
		float: left;
		width: 4.16666667%;
	}
	.col-sm-20 {
		float: left;
		width: 41.66666667%;
	}
	.col-sm-21 {
		float: left;
		width: 43.75%;
	}
	.col-sm-22 {
		float: left;
		width: 45.83333333%;
	}
	.col-sm-23 {
		float: left;
		width: 47.91666667%;
	}
	.col-sm-24 {
		float: left;
		width: 50%;
	}
	.col-sm-25 {
		float: left;
		width: 52.08333333%;
	}
	.col-sm-26 {
		float: left;
		width: 54.16666667%;
	}
	.col-sm-27 {
		float: left;
		width: 56.25%;
	}
	.col-sm-28 {
		float: left;
		width: 58.33333333%;
	}
	.col-sm-29 {
		float: left;
		width: 60.41666667%;
	}
	.col-sm-3 {
		float: left;
		width: 6.25%;
	}
	.col-sm-30 {
		float: left;
		width: 62.5%;
	}
	.col-sm-31 {
		float: left;
		width: 64.58333333%;
	}
	.col-sm-32 {
		float: left;
		width: 66.66666667%;
	}
	.col-sm-33 {
		float: left;
		width: 68.75%;
	}
	.col-sm-34 {
		float: left;
		width: 70.83333333%;
	}
	.col-sm-35 {
		float: left;
		width: 72.91666667%;
	}
	.col-sm-36 {
		float: left;
		width: 75%;
	}
	.col-sm-37 {
		float: left;
		width: 77.08333333%;
	}
	.col-sm-38 {
		float: left;
		width: 79.16666667%;
	}
	.col-sm-39 {
		float: left;
		width: 81.25%;
	}
	.col-sm-4 {
		float: left;
		width: 8.33333333%;
	}
	.col-sm-40 {
		float: left;
		width: 83.33333333%;
	}
	.col-sm-41 {
		float: left;
		width: 85.41666667%;
	}
	.col-sm-42 {
		float: left;
		width: 87.5%;
	}
	.col-sm-43 {
		float: left;
		width: 89.58333333%;
	}
	.col-sm-44 {
		float: left;
		width: 91.66666667%;
	}
	.col-sm-45 {
		float: left;
		width: 93.75%;
	}
	.col-sm-46 {
		float: left;
		width: 95.83333333%;
	}
	.col-sm-47 {
		float: left;
		width: 97.91666667%;
	}
	.col-sm-48 {
		float: left;
		width: 100%;
	}
	.col-sm-5 {
		float: left;
		width: 10.41666667%;
	}
	.col-sm-6 {
		float: left;
		width: 12.5%;
	}
	.col-sm-7 {
		float: left;
		width: 14.58333333%;
	}
	.col-sm-8 {
		float: left;
		width: 16.66666667%;
	}
	.col-sm-9 {
		float: left;
		width: 18.75%;
	}
	.col-sm-pull-48 {
		right: 100%;
	}
	.col-sm-pull-47 {
		right: 97.91666667%;
	}
	.col-sm-pull-46 {
		right: 95.83333333%;
	}
	.col-sm-pull-45 {
		right: 93.75%;
	}
	.col-sm-pull-44 {
		right: 91.66666667%;
	}
	.col-sm-pull-43 {
		right: 89.58333333%;
	}
	.col-sm-pull-42 {
		right: 87.5%;
	}
	.col-sm-pull-41 {
		right: 85.41666667%;
	}
	.col-sm-pull-40 {
		right: 83.33333333%;
	}
	.col-sm-pull-39 {
		right: 81.25%;
	}
	.col-sm-pull-38 {
		right: 79.16666667%;
	}
	.col-sm-pull-37 {
		right: 77.08333333%;
	}
	.col-sm-pull-36 {
		right: 75%;
	}
	.col-sm-pull-35 {
		right: 72.91666667%;
	}
	.col-sm-pull-34 {
		right: 70.83333333%;
	}
	.col-sm-pull-33 {
		right: 68.75%;
	}
	.col-sm-pull-32 {
		right: 66.66666667%;
	}
	.col-sm-pull-31 {
		right: 64.58333333%;
	}
	.col-sm-pull-30 {
		right: 62.5%;
	}
	.col-sm-pull-29 {
		right: 60.41666667%;
	}
	.col-sm-pull-28 {
		right: 58.33333333%;
	}
	.col-sm-pull-27 {
		right: 56.25%;
	}
	.col-sm-pull-26 {
		right: 54.16666667%;
	}
	.col-sm-pull-25 {
		right: 52.08333333%;
	}
	.col-sm-pull-24 {
		right: 50%;
	}
	.col-sm-pull-23 {
		right: 47.91666667%;
	}
	.col-sm-pull-22 {
		right: 45.83333333%;
	}
	.col-sm-pull-21 {
		right: 43.75%;
	}
	.col-sm-pull-20 {
		right: 41.66666667%;
	}
	.col-sm-pull-19 {
		right: 39.58333333%;
	}
	.col-sm-pull-18 {
		right: 37.5%;
	}
	.col-sm-pull-17 {
		right: 35.41666667%;
	}
	.col-sm-pull-16 {
		right: 33.33333333%;
	}
	.col-sm-pull-15 {
		right: 31.25%;
	}
	.col-sm-pull-14 {
		right: 29.16666667%;
	}
	.col-sm-pull-13 {
		right: 27.08333333%;
	}
	.col-sm-pull-12 {
		right: 25%;
	}
	.col-sm-pull-11 {
		right: 22.91666667%;
	}
	.col-sm-pull-10 {
		right: 20.83333333%;
	}
	.col-sm-pull-9 {
		right: 18.75%;
	}
	.col-sm-pull-8 {
		right: 16.66666667%;
	}
	.col-sm-pull-7 {
		right: 14.58333333%;
	}
	.col-sm-pull-6 {
		right: 12.5%;
	}
	.col-sm-pull-5 {
		right: 10.41666667%;
	}
	.col-sm-pull-4 {
		right: 8.33333333%;
	}
	.col-sm-pull-3 {
		right: 6.25%;
	}
	.col-sm-pull-2 {
		right: 4.16666667%;
	}
	.col-sm-pull-1 {
		right: 2.08333333%;
	}
	.col-sm-pull-0 {
		right: auto;
	}
	.col-sm-push-48 {
		left: 100%;
	}
	.col-sm-push-47 {
		left: 97.91666667%;
	}
	.col-sm-push-46 {
		left: 95.83333333%;
	}
	.col-sm-push-45 {
		left: 93.75%;
	}
	.col-sm-push-44 {
		left: 91.66666667%;
	}
	.col-sm-push-43 {
		left: 89.58333333%;
	}
	.col-sm-push-42 {
		left: 87.5%;
	}
	.col-sm-push-41 {
		left: 85.41666667%;
	}
	.col-sm-push-40 {
		left: 83.33333333%;
	}
	.col-sm-push-39 {
		left: 81.25%;
	}
	.col-sm-push-38 {
		left: 79.16666667%;
	}
	.col-sm-push-37 {
		left: 77.08333333%;
	}
	.col-sm-push-36 {
		left: 75%;
	}
	.col-sm-push-35 {
		left: 72.91666667%;
	}
	.col-sm-push-34 {
		left: 70.83333333%;
	}
	.col-sm-push-33 {
		left: 68.75%;
	}
	.col-sm-push-32 {
		left: 66.66666667%;
	}
	.col-sm-push-31 {
		left: 64.58333333%;
	}
	.col-sm-push-30 {
		left: 62.5%;
	}
	.col-sm-push-29 {
		left: 60.41666667%;
	}
	.col-sm-push-28 {
		left: 58.33333333%;
	}
	.col-sm-push-27 {
		left: 56.25%;
	}
	.col-sm-push-26 {
		left: 54.16666667%;
	}
	.col-sm-push-25 {
		left: 52.08333333%;
	}
	.col-sm-push-24 {
		left: 50%;
	}
	.col-sm-push-23 {
		left: 47.91666667%;
	}
	.col-sm-push-22 {
		left: 45.83333333%;
	}
	.col-sm-push-21 {
		left: 43.75%;
	}
	.col-sm-push-20 {
		left: 41.66666667%;
	}
	.col-sm-push-19 {
		left: 39.58333333%;
	}
	.col-sm-push-18 {
		left: 37.5%;
	}
	.col-sm-push-17 {
		left: 35.41666667%;
	}
	.col-sm-push-16 {
		left: 33.33333333%;
	}
	.col-sm-push-15 {
		left: 31.25%;
	}
	.col-sm-push-14 {
		left: 29.16666667%;
	}
	.col-sm-push-13 {
		left: 27.08333333%;
	}
	.col-sm-push-12 {
		left: 25%;
	}
	.col-sm-push-11 {
		left: 22.91666667%;
	}
	.col-sm-push-10 {
		left: 20.83333333%;
	}
	.col-sm-push-9 {
		left: 18.75%;
	}
	.col-sm-push-8 {
		left: 16.66666667%;
	}
	.col-sm-push-7 {
		left: 14.58333333%;
	}
	.col-sm-push-6 {
		left: 12.5%;
	}
	.col-sm-push-5 {
		left: 10.41666667%;
	}
	.col-sm-push-4 {
		left: 8.33333333%;
	}
	.col-sm-push-3 {
		left: 6.25%;
	}
	.col-sm-push-2 {
		left: 4.16666667%;
	}
	.col-sm-push-1 {
		left: 2.08333333%;
	}
	.col-sm-push-0 {
		left: auto;
	}
	.col-sm-offset-48 {
		margin-left: 100%;
	}
	.col-sm-offset-47 {
		margin-left: 97.91666667%;
	}
	.col-sm-offset-46 {
		margin-left: 95.83333333%;
	}
	.col-sm-offset-45 {
		margin-left: 93.75%;
	}
	.col-sm-offset-44 {
		margin-left: 91.66666667%;
	}
	.col-sm-offset-43 {
		margin-left: 89.58333333%;
	}
	.col-sm-offset-42 {
		margin-left: 87.5%;
	}
	.col-sm-offset-41 {
		margin-left: 85.41666667%;
	}
	.col-sm-offset-40 {
		margin-left: 83.33333333%;
	}
	.col-sm-offset-39 {
		margin-left: 81.25%;
	}
	.col-sm-offset-38 {
		margin-left: 79.16666667%;
	}
	.col-sm-offset-37 {
		margin-left: 77.08333333%;
	}
	.col-sm-offset-36 {
		margin-left: 75%;
	}
	.col-sm-offset-35 {
		margin-left: 72.91666667%;
	}
	.col-sm-offset-34 {
		margin-left: 70.83333333%;
	}
	.col-sm-offset-33 {
		margin-left: 68.75%;
	}
	.col-sm-offset-32 {
		margin-left: 66.66666667%;
	}
	.col-sm-offset-31 {
		margin-left: 64.58333333%;
	}
	.col-sm-offset-30 {
		margin-left: 62.5%;
	}
	.col-sm-offset-29 {
		margin-left: 60.41666667%;
	}
	.col-sm-offset-28 {
		margin-left: 58.33333333%;
	}
	.col-sm-offset-27 {
		margin-left: 56.25%;
	}
	.col-sm-offset-26 {
		margin-left: 54.16666667%;
	}
	.col-sm-offset-25 {
		margin-left: 52.08333333%;
	}
	.col-sm-offset-24 {
		margin-left: 50%;
	}
	.col-sm-offset-23 {
		margin-left: 47.91666667%;
	}
	.col-sm-offset-22 {
		margin-left: 45.83333333%;
	}
	.col-sm-offset-21 {
		margin-left: 43.75%;
	}
	.col-sm-offset-20 {
		margin-left: 41.66666667%;
	}
	.col-sm-offset-19 {
		margin-left: 39.58333333%;
	}
	.col-sm-offset-18 {
		margin-left: 37.5%;
	}
	.col-sm-offset-17 {
		margin-left: 35.41666667%;
	}
	.col-sm-offset-16 {
		margin-left: 33.33333333%;
	}
	.col-sm-offset-15 {
		margin-left: 31.25%;
	}
	.col-sm-offset-14 {
		margin-left: 29.16666667%;
	}
	.col-sm-offset-13 {
		margin-left: 27.08333333%;
	}
	.col-sm-offset-12 {
		margin-left: 25%;
	}
	.col-sm-offset-11 {
		margin-left: 22.91666667%;
	}
	.col-sm-offset-10 {
		margin-left: 20.83333333%;
	}
	.col-sm-offset-9 {
		margin-left: 18.75%;
	}
	.col-sm-offset-8 {
		margin-left: 16.66666667%;
	}
	.col-sm-offset-7 {
		margin-left: 14.58333333%;
	}
	.col-sm-offset-6 {
		margin-left: 12.5%;
	}
	.col-sm-offset-5 {
		margin-left: 10.41666667%;
	}
	.col-sm-offset-4 {
		margin-left: 8.33333333%;
	}
	.col-sm-offset-3 {
		margin-left: 6.25%;
	}
	.col-sm-offset-2 {
		margin-left: 4.16666667%;
	}
	.col-sm-offset-1 {
		margin-left: 2.08333333%;
	}
	.col-sm-offset-0 {
		margin-left: 0;
	}
}
@media(min-width:992px) {


	.col-md-1 {
		position: relative;
		min-height: 1px;
		padding-left: 0;
		padding-right: 0;
	}
	.col-md-10 {
		position: relative;
		min-height: 1px;
		padding-left: 0;
		padding-right: 0;
	}
	.col-md-11 {
		position: relative;
		min-height: 1px;
		padding-left: 0;
		padding-right: 0;
	}
	.col-md-12 {
		position: relative;
		min-height: 1px;
		padding-left: 0;
		padding-right: 0;
	}
	.col-md-13 {
		position: relative;
		min-height: 1px;
		padding-left: 0;
		padding-right: 0;
	}
	.col-md-14 {
		position: relative;
		min-height: 1px;
		padding-left: 0;
		padding-right: 0;
	}
	.col-md-15 {
		position: relative;
		min-height: 1px;
		padding-left: 0;
		padding-right: 0;
	}
	.col-md-16 {
		position: relative;
		min-height: 1px;
		padding-left: 0;
		padding-right: 0;
	}
	.col-md-17 {
		position: relative;
		min-height: 1px;
		padding-left: 0;
		padding-right: 0;
	}
	.col-md-18 {
		position: relative;
		min-height: 1px;
		padding-left: 0;
		padding-right: 0;
	}
	.col-md-19 {
		position: relative;
		min-height: 1px;
		padding-left: 0;
		padding-right: 0;
	}
	.col-md-2 {
		position: relative;
		min-height: 1px;
		padding-left: 0;
		padding-right: 0;
	}
	.col-md-20 {
		position: relative;
		min-height: 1px;
		padding-left: 0;
		padding-right: 0;
	}
	.col-md-21 {
		position: relative;
		min-height: 1px;
		padding-left: 0;
		padding-right: 0;
	}
	.col-md-22 {
		position: relative;
		min-height: 1px;
		padding-left: 0;
		padding-right: 0;
	}
	.col-md-23 {
		position: relative;
		min-height: 1px;
		padding-left: 0;
		padding-right: 0;
	}
	.col-md-24 {
		position: relative;
		min-height: 1px;
		padding-left: 0;
		padding-right: 0;
	}
	.col-md-25 {
		position: relative;
		min-height: 1px;
		padding-left: 0;
		padding-right: 0;
	}
	.col-md-26 {
		position: relative;
		min-height: 1px;
		padding-left: 0;
		padding-right: 0;
	}
	.col-md-27 {
		position: relative;
		min-height: 1px;
		padding-left: 0;
		padding-right: 0;
	}
	.col-md-28 {
		position: relative;
		min-height: 1px;
		padding-left: 0;
		padding-right: 0;
	}
	.col-md-29 {
		position: relative;
		min-height: 1px;
		padding-left: 0;
		padding-right: 0;
	}
	.col-md-3 {
		position: relative;
		min-height: 1px;
		padding-left: 0;
		padding-right: 0;
	}
	.col-md-30 {
		position: relative;
		min-height: 1px;
		padding-left: 0;
		padding-right: 0;
	}
	.col-md-31 {
		position: relative;
		min-height: 1px;
		padding-left: 0;
		padding-right: 0;
	}
	.col-md-32 {
		position: relative;
		min-height: 1px;
		padding-left: 0;
		padding-right: 0;
	}
	.col-md-33 {
		position: relative;
		min-height: 1px;
		padding-left: 0;
		padding-right: 0;
	}
	.col-md-34 {
		position: relative;
		min-height: 1px;
		padding-left: 0;
		padding-right: 0;
	}
	.col-md-35 {
		position: relative;
		min-height: 1px;
		padding-left: 0;
		padding-right: 0;
	}
	.col-md-36 {
		position: relative;
		min-height: 1px;
		padding-left: 0;
		padding-right: 0;
	}
	.col-md-37 {
		position: relative;
		min-height: 1px;
		padding-left: 0;
		padding-right: 0;
	}
	.col-md-38 {
		position: relative;
		min-height: 1px;
		padding-left: 0;
		padding-right: 0;
	}
	.col-md-39 {
		position: relative;
		min-height: 1px;
		padding-left: 0;
		padding-right: 0;
	}
	.col-md-4 {
		position: relative;
		min-height: 1px;
		padding-left: 0;
		padding-right: 0;
	}
	.col-md-40 {
		position: relative;
		min-height: 1px;
		padding-left: 0;
		padding-right: 0;
	}
	.col-md-41 {
		position: relative;
		min-height: 1px;
		padding-left: 0;
		padding-right: 0;
	}
	.col-md-42 {
		position: relative;
		min-height: 1px;
		padding-left: 0;
		padding-right: 0;
	}
	.col-md-43 {
		position: relative;
		min-height: 1px;
		padding-left: 0;
		padding-right: 0;
	}
	.col-md-44 {
		position: relative;
		min-height: 1px;
		padding-left: 0;
		padding-right: 0;
	}
	.col-md-45 {
		position: relative;
		min-height: 1px;
		padding-left: 0;
		padding-right: 0;
	}
	.col-md-46 {
		position: relative;
		min-height: 1px;
		padding-left: 0;
		padding-right: 0;
	}
	.col-md-47 {
		position: relative;
		min-height: 1px;
		padding-left: 0;
		padding-right: 0;
	}
	.col-md-48 {
		position: relative;
		min-height: 1px;
		padding-left: 0;
		padding-right: 0;
	}
	.col-md-5 {
		position: relative;
		min-height: 1px;
		padding-left: 0;
		padding-right: 0;
	}
	.col-md-6 {
		position: relative;
		min-height: 1px;
		padding-left: 0;
		padding-right: 0;
	}
	.col-md-7 {
		position: relative;
		min-height: 1px;
		padding-left: 0;
		padding-right: 0;
	}
	.col-md-8 {
		position: relative;
		min-height: 1px;
		padding-left: 0;
		padding-right: 0;
	}
	.col-md-9 {
		position: relative;
		min-height: 1px;
		padding-left: 0;
		padding-right: 0;
	}

	.col-md-1 {
		float: left;
		width: 2.08333333%;
	}
	.col-md-10 {
		float: left;
		width: 20.83333333%;
	}
	.col-md-11 {
		float: left;
		width: 22.91666667%;
	}
	.col-md-12 {
		float: left;
		width: 25%;
	}
	.col-md-13 {
		float: left;
		width: 27.08333333%;
	}
	.col-md-14 {
		float: left;
		width: 29.16666667%;
	}
	.col-md-15 {
		float: left;
		width: 31.25%;
	}
	.col-md-16 {
		float: left;
		width: 33.33333333%;
	}
	.col-md-17 {
		float: left;
		width: 35.41666667%;
	}
	.col-md-18 {
		float: left;
		width: 37.5%;
	}
	.col-md-19 {
		float: left;
		width: 39.58333333%;
	}
	.col-md-2 {
		float: left;
		width: 4.16666667%;
	}
	.col-md-20 {
		float: left;
		width: 41.66666667%;
	}
	.col-md-21 {
		float: left;
		width: 43.75%;
	}
	.col-md-22 {
		float: left;
		width: 45.83333333%;
	}
	.col-md-23 {
		float: left;
		width: 47.91666667%;
	}
	.col-md-24 {
		float: left;
		width: 50%;
	}
	.col-md-25 {
		float: left;
		width: 52.08333333%;
	}
	.col-md-26 {
		float: left;
		width: 54.16666667%;
	}
	.col-md-27 {
		float: left;
		width: 56.25%;
	}
	.col-md-28 {
		float: left;
		width: 58.33333333%;
	}
	.col-md-29 {
		float: left;
		width: 60.41666667%;
	}
	.col-md-3 {
		float: left;
		width: 6.25%;
	}
	.col-md-30 {
		float: left;
		width: 62.5%;
	}
	.col-md-31 {
		float: left;
		width: 64.58333333%;
	}
	.col-md-32 {
		float: left;
		width: 66.66666667%;
	}
	.col-md-33 {
		float: left;
		width: 68.75%;
	}
	.col-md-34 {
		float: left;
		width: 70.83333333%;
	}
	.col-md-35 {
		float: left;
		width: 72.91666667%;
	}
	.col-md-36 {
		float: left;
		width: 75%;
	}
	.col-md-37 {
		float: left;
		width: 77.08333333%;
	}
	.col-md-38 {
		float: left;
		width: 79.16666667%;
	}
	.col-md-39 {
		float: left;
		width: 81.25%;
	}
	.col-md-4 {
		float: left;
		width: 8.33333333%;
	}
	.col-md-40 {
		float: left;
		width: 83.33333333%;
	}
	.col-md-41 {
		float: left;
		width: 85.41666667%;
	}
	.col-md-42 {
		float: left;
		width: 87.5%;
	}
	.col-md-43 {
		float: left;
		width: 89.58333333%;
	}
	.col-md-44 {
		float: left;
		width: 91.66666667%;
	}
	.col-md-45 {
		float: left;
		width: 93.75%;
	}
	.col-md-46 {
		float: left;
		width: 95.83333333%;
	}
	.col-md-47 {
		float: left;
		width: 97.91666667%;
	}
	.col-md-48 {
		float: left;
		width: 100%;
	}
	.col-md-5 {
		float: left;
		width: 10.41666667%;
	}
	.col-md-6 {
		float: left;
		width: 12.5%;
	}
	.col-md-7 {
		float: left;
		width: 14.58333333%;
	}
	.col-md-8 {
		float: left;
		width: 16.66666667%;
	}
	.col-md-9 {
		float: left;
		width: 18.75%;
	}
	.col-md-pull-48 {
		right: 100%;
	}
	.col-md-pull-47 {
		right: 97.91666667%;
	}
	.col-md-pull-46 {
		right: 95.83333333%;
	}
	.col-md-pull-45 {
		right: 93.75%;
	}
	.col-md-pull-44 {
		right: 91.66666667%;
	}
	.col-md-pull-43 {
		right: 89.58333333%;
	}
	.col-md-pull-42 {
		right: 87.5%;
	}
	.col-md-pull-41 {
		right: 85.41666667%;
	}
	.col-md-pull-40 {
		right: 83.33333333%;
	}
	.col-md-pull-39 {
		right: 81.25%;
	}
	.col-md-pull-38 {
		right: 79.16666667%;
	}
	.col-md-pull-37 {
		right: 77.08333333%;
	}
	.col-md-pull-36 {
		right: 75%;
	}
	.col-md-pull-35 {
		right: 72.91666667%;
	}
	.col-md-pull-34 {
		right: 70.83333333%;
	}
	.col-md-pull-33 {
		right: 68.75%;
	}
	.col-md-pull-32 {
		right: 66.66666667%;
	}
	.col-md-pull-31 {
		right: 64.58333333%;
	}
	.col-md-pull-30 {
		right: 62.5%;
	}
	.col-md-pull-29 {
		right: 60.41666667%;
	}
	.col-md-pull-28 {
		right: 58.33333333%;
	}
	.col-md-pull-27 {
		right: 56.25%;
	}
	.col-md-pull-26 {
		right: 54.16666667%;
	}
	.col-md-pull-25 {
		right: 52.08333333%;
	}
	.col-md-pull-24 {
		right: 50%;
	}
	.col-md-pull-23 {
		right: 47.91666667%;
	}
	.col-md-pull-22 {
		right: 45.83333333%;
	}
	.col-md-pull-21 {
		right: 43.75%;
	}
	.col-md-pull-20 {
		right: 41.66666667%;
	}
	.col-md-pull-19 {
		right: 39.58333333%;
	}
	.col-md-pull-18 {
		right: 37.5%;
	}
	.col-md-pull-17 {
		right: 35.41666667%;
	}
	.col-md-pull-16 {
		right: 33.33333333%;
	}
	.col-md-pull-15 {
		right: 31.25%;
	}
	.col-md-pull-14 {
		right: 29.16666667%;
	}
	.col-md-pull-13 {
		right: 27.08333333%;
	}
	.col-md-pull-12 {
		right: 25%;
	}
	.col-md-pull-11 {
		right: 22.91666667%;
	}
	.col-md-pull-10 {
		right: 20.83333333%;
	}
	.col-md-pull-9 {
		right: 18.75%;
	}
	.col-md-pull-8 {
		right: 16.66666667%;
	}
	.col-md-pull-7 {
		right: 14.58333333%;
	}
	.col-md-pull-6 {
		right: 12.5%;
	}
	.col-md-pull-5 {
		right: 10.41666667%;
	}
	.col-md-pull-4 {
		right: 8.33333333%;
	}
	.col-md-pull-3 {
		right: 6.25%;
	}
	.col-md-pull-2 {
		right: 4.16666667%;
	}
	.col-md-pull-1 {
		right: 2.08333333%;
	}
	.col-md-pull-0 {
		right: auto;
	}
	.col-md-push-48 {
		left: 100%;
	}
	.col-md-push-47 {
		left: 97.91666667%;
	}
	.col-md-push-46 {
		left: 95.83333333%;
	}
	.col-md-push-45 {
		left: 93.75%;
	}
	.col-md-push-44 {
		left: 91.66666667%;
	}
	.col-md-push-43 {
		left: 89.58333333%;
	}
	.col-md-push-42 {
		left: 87.5%;
	}
	.col-md-push-41 {
		left: 85.41666667%;
	}
	.col-md-push-40 {
		left: 83.33333333%;
	}
	.col-md-push-39 {
		left: 81.25%;
	}
	.col-md-push-38 {
		left: 79.16666667%;
	}
	.col-md-push-37 {
		left: 77.08333333%;
	}
	.col-md-push-36 {
		left: 75%;
	}
	.col-md-push-35 {
		left: 72.91666667%;
	}
	.col-md-push-34 {
		left: 70.83333333%;
	}
	.col-md-push-33 {
		left: 68.75%;
	}
	.col-md-push-32 {
		left: 66.66666667%;
	}
	.col-md-push-31 {
		left: 64.58333333%;
	}
	.col-md-push-30 {
		left: 62.5%;
	}
	.col-md-push-29 {
		left: 60.41666667%;
	}
	.col-md-push-28 {
		left: 58.33333333%;
	}
	.col-md-push-27 {
		left: 56.25%;
	}
	.col-md-push-26 {
		left: 54.16666667%;
	}
	.col-md-push-25 {
		left: 52.08333333%;
	}
	.col-md-push-24 {
		left: 50%;
	}
	.col-md-push-23 {
		left: 47.91666667%;
	}
	.col-md-push-22 {
		left: 45.83333333%;
	}
	.col-md-push-21 {
		left: 43.75%;
	}
	.col-md-push-20 {
		left: 41.66666667%;
	}
	.col-md-push-19 {
		left: 39.58333333%;
	}
	.col-md-push-18 {
		left: 37.5%;
	}
	.col-md-push-17 {
		left: 35.41666667%;
	}
	.col-md-push-16 {
		left: 33.33333333%;
	}
	.col-md-push-15 {
		left: 31.25%;
	}
	.col-md-push-14 {
		left: 29.16666667%;
	}
	.col-md-push-13 {
		left: 27.08333333%;
	}
	.col-md-push-12 {
		left: 25%;
	}
	.col-md-push-11 {
		left: 22.91666667%;
	}
	.col-md-push-10 {
		left: 20.83333333%;
	}
	.col-md-push-9 {
		left: 18.75%;
	}
	.col-md-push-8 {
		left: 16.66666667%;
	}
	.col-md-push-7 {
		left: 14.58333333%;
	}
	.col-md-push-6 {
		left: 12.5%;
	}
	.col-md-push-5 {
		left: 10.41666667%;
	}
	.col-md-push-4 {
		left: 8.33333333%;
	}
	.col-md-push-3 {
		left: 6.25%;
	}
	.col-md-push-2 {
		left: 4.16666667%;
	}
	.col-md-push-1 {
		left: 2.08333333%;
	}
	.col-md-push-0 {
		left: auto;
	}
	.col-md-offset-48 {
		margin-left: 100%;
	}
	.col-md-offset-47 {
		margin-left: 97.91666667%;
	}
	.col-md-offset-46 {
		margin-left: 95.83333333%;
	}
	.col-md-offset-45 {
		margin-left: 93.75%;
	}
	.col-md-offset-44 {
		margin-left: 91.66666667%;
	}
	.col-md-offset-43 {
		margin-left: 89.58333333%;
	}
	.col-md-offset-42 {
		margin-left: 87.5%;
	}
	.col-md-offset-41 {
		margin-left: 85.41666667%;
	}
	.col-md-offset-40 {
		margin-left: 83.33333333%;
	}
	.col-md-offset-39 {
		margin-left: 81.25%;
	}
	.col-md-offset-38 {
		margin-left: 79.16666667%;
	}
	.col-md-offset-37 {
		margin-left: 77.08333333%;
	}
	.col-md-offset-36 {
		margin-left: 75%;
	}
	.col-md-offset-35 {
		margin-left: 72.91666667%;
	}
	.col-md-offset-34 {
		margin-left: 70.83333333%;
	}
	.col-md-offset-33 {
		margin-left: 68.75%;
	}
	.col-md-offset-32 {
		margin-left: 66.66666667%;
	}
	.col-md-offset-31 {
		margin-left: 64.58333333%;
	}
	.col-md-offset-30 {
		margin-left: 62.5%;
	}
	.col-md-offset-29 {
		margin-left: 60.41666667%;
	}
	.col-md-offset-28 {
		margin-left: 58.33333333%;
	}
	.col-md-offset-27 {
		margin-left: 56.25%;
	}
	.col-md-offset-26 {
		margin-left: 54.16666667%;
	}
	.col-md-offset-25 {
		margin-left: 52.08333333%;
	}
	.col-md-offset-24 {
		margin-left: 50%;
	}
	.col-md-offset-23 {
		margin-left: 47.91666667%;
	}
	.col-md-offset-22 {
		margin-left: 45.83333333%;
	}
	.col-md-offset-21 {
		margin-left: 43.75%;
	}
	.col-md-offset-20 {
		margin-left: 41.66666667%;
	}
	.col-md-offset-19 {
		margin-left: 39.58333333%;
	}
	.col-md-offset-18 {
		margin-left: 37.5%;
	}
	.col-md-offset-17 {
		margin-left: 35.41666667%;
	}
	.col-md-offset-16 {
		margin-left: 33.33333333%;
	}
	.col-md-offset-15 {
		margin-left: 31.25%;
	}
	.col-md-offset-14 {
		margin-left: 29.16666667%;
	}
	.col-md-offset-13 {
		margin-left: 27.08333333%;
	}
	.col-md-offset-12 {
		margin-left: 25%;
	}
	.col-md-offset-11 {
		margin-left: 22.91666667%;
	}
	.col-md-offset-10 {
		margin-left: 20.83333333%;
	}
	.col-md-offset-9 {
		margin-left: 18.75%;
	}
	.col-md-offset-8 {
		margin-left: 16.66666667%;
	}
	.col-md-offset-7 {
		margin-left: 14.58333333%;
	}
	.col-md-offset-6 {
		margin-left: 12.5%;
	}
	.col-md-offset-5 {
		margin-left: 10.41666667%;
	}
	.col-md-offset-4 {
		margin-left: 8.33333333%;
	}
	.col-md-offset-3 {
		margin-left: 6.25%;
	}
	.col-md-offset-2 {
		margin-left: 4.16666667%;
	}
	.col-md-offset-1 {
		margin-left: 2.08333333%;
	}
	.col-md-offset-0 {
		margin-left: 0;
	}
}
