#about 
	overflow: hidden
	width: 100%
	
	#introduction, .un-tiers__text
		background: $color-base-light


	#introduction
		padding-bottom: 8.33%
		margin-bottom: 8.33%

		h1
			color: $color-93degres

		h2
			color: $color-dark
			font-size: 18px
			letter-spacing: 0.4em
			margin-bottom: 30px