.about 
	overflow: hidden
	width: 100%
	
	&--content
		background: $color-base-light
		margin-bottom: 8.33%
		padding-top: 16.66%
		padding-bottom: 8.33%
		position: relative

		+media-sm-and-less
			top: 120px
				

		h1
			overflow: hidden
			padding-top: 2vw
			margin-top: -2vw
			position: absolute
			font-size: 16vw
			left: -1vw
			line-height: 14vw
			color: $color-93degres

			+media-sm-and-less
				position: relative
				left: 6.25%

		h3
			color: $color-93degres

		#social, #contact
			margin-bottom: 30px

		#summary
			overflow: hidden
			p
				margin-bottom: 30px

