.all-destinations
	.grid
		&:hover
			z-index: 100
		
		& > div
			text-align: center
			overflow: hidden
			padding-bottom: 33.33%
			background: $color-dark

			&:hover
				
				.image
					transform: scale(1.2)
				.country-code__01
					top: -3.75vw

				.country-code__02
					bottom: -4.25vw

				h4
					opacity: 1
				

			&:active
				.image
					transform: scale(1.05)

		.image
			height: 100%
			position: absolute
			transition: all 0.45s cubic-bezier(0.4, 0, 0, 1)
			left: 0
			top: 0
			opacity: 0.8



		h4
			font-size: 36px
			width: 100%
			position: absolute
			bottom: 45%
			z-index: 4
			color: $color-white
			opacity: 0
			transition: all 0.45s cubic-bezier(0.4, 0, 0, 1)

		h5
			font-family: $leaguegothic
			z-index: 2
			width: 100%
			margin-top: 0
			transition: all 0.45s cubic-bezier(0.4, 0, 0, 1)
			font-size: 8vw
			color: $color-white


		.country-code__01
			top: 38%

		.country-code__02
			top: auto
			bottom: 38%
	