#home-posts
	+media-sm-and-less
		margin-top: 100px

.first-post 
	font-size: 0
	min-height: 75vh
	padding-top: 120px
	padding-bottom: 12.5%
	margin-bottom: -$desktop-margin
	display: table
	cursor: initial

	+media-sm-and-less
		padding-bottom: 0
		margin-bottom: $mobile-margin
		padding-top: 0

	&.post 
		&-article
			background: $color-carnet-light

		&-guide
			background: $color-guide-light

		&-conseil
			background: $color-conseil-light

	&-texte
		display: table-cell
		float: none
		vertical-align: middle
		z-index: 2
		padding-top: $desktop-margin
		padding-bottom: $desktop-margin
		+media-sm-and-less
			padding-top: 25%
			padding-bottom: 25%
			float: left

		h1 
			z-index: 2
			position: relative
			color: $white
			width: auto
			font-size: 7.2vw
			line-height: 7.2vw
			padding-top: 1vw

			+media-sm-and-less
				font-size: 16vw
				line-height: 16vw

			span
				width: 100%
				display: block

			& > div

				&:nth-child(1)
					
					display: block
					position: relative
				    
				&:nth-child(2)
					
					display: block
					position: relative
					margin-left: ($desktop-margin * 2)

				&:nth-child(3)
					
					display: block
					position: relative
					margin-left: $desktop-margin

				&:nth-last-child(1)
					display: initial
					float: left
					+media-sm-and-less
						float: none

				.trait
					top: 3.85vw
					margin-top: 3px
					position: absolute
					height: 6px
					background: $white
					width: ($desktop-margin * 2)
					left: -20%

					+media-sm-and-less
						top: 6.85vw

				.wordsplit
					padding-top: 1vw
					padding-bottom: 1vw
					overflow: hidden
					margin-bottom: -3vw

		p
			font-family: $leaguegothic
			position: absolute
			margin-bottom: -43px
			margin-top: 1.8vw
			margin-left: 10px
			padding: 7px 0
			line-height: normal
			display: initial
			overflow: hidden
			width: auto
			color: #ffffff
			text-transform: initial


			+media-sm-and-less
				font-size: 40px
				line-height: normal
				position: relative
				margin: auto

			strong
				font-size: 24px
				position: relative
				font-style: normal
				padding: 7px 10px
				font-weight: normal
				white-space: nowrap
				letter-spacing: 0em

		

		.categories 
			float: none
			display: inline-block
			position: relative

		.a-cta
			display: block
			clear: both

		.cta 
			float: none
			border: none
			background: $white
			margin-top: 40px

			+media-sm-and-less



	&-image
		position: absolute
		top: 0%
		bottom: 0%
		width: 150%
		left: 35%
		z-index: -1
		overflow: hidden

		+media-sm-and-less
			position: absolute
			float: left
			left: -$desktop-margin
			right: -$desktop-margin
			width: initial

		.image
			height: 100%
			position: relative
			+media-sm-and-less
				padding-bottom: 50%

	.country-code
		position: absolute
		top: 43%
		line-height: 0
		left: 25%
		width: 100%
		z-index: 1
		
		h5 
			font-size: 49vw
			opacity: 0.15
			padding-right: 19vw
	

#destinations
	margin-top: $desktop-margin
	padding-top: 12.5%
	padding-bottom: $desktop-margin
	text-align: center
	background: $color-base-light
	
	h5
		font-family: $leaguegothic
		font-size: 12vw
		color: $color-93degres
		margin-bottom: ($desktop-margin / 2)
		position: absolute
		top: -7vw
		overflow: hidden


		+media-sm-and-less
			font-size: $mobile-margin
	
	li 
		vertical-align: middle
		margin: 20px 20px
			
		a 
			text-transform: uppercase
			font-size: 18px
			padding: 10px 6px 10px 11px
	

#about
	padding-bottom: 30px

	h2
		&>div
			overflow: hidden


	.cta 
		margin-top: ($desktop-margin / 2)
		border-color: $color-93degres

		&:after
			content: '👌'

		+media-sm-and-less
			margin-top: 30px


.mask
	position: fixed
	background: $color-93degres
	z-index: 200
	top: 0
	bottom: 0
	left: 0
	right: 0
	