#article
	overflow: hidden
	
	.country-code h5, .categories, .date h5, .deux-tiers__chapter h3, .deux-tiers__aside h3, .title-content h5, p a:hover
		color: $color-article-dark

	#introduction, #realated, .un-tiers__text, .deux-tiers__aside
		background: $color-article-light

	p a
		background-image: linear-gradient(45deg, $color-article-dark, $color-article-dark)
		&:hover
			color: $color-article-dark

	#layout

		.deux-tiers__chapter ~ .deux-tiers__paragraph

			&:first-of-type
				&:first-letter
					color: $color-article-dark

#guide
	overflow: hidden
	
	.country-code h5, .categories, .date h5, .deux-tiers__chapter h3, .deux-tiers__aside h3, .title-content h5, p a:hover
		color: $color-guide-dark

	#introduction, #realated, .un-tiers__text, .deux-tiers__aside
		background: $color-guide-light

	p a
		background-image: linear-gradient(45deg, $color-guide-dark, $color-guide-dark)
		&:hover
			color: $color-guide-dark

	#layout

		.deux-tiers__chapter ~ .deux-tiers__paragraph

			&:first-of-type
				&:first-letter
					color: $color-guide-dark

#conseil
	overflow: hidden
	
	.country-code h5, .categories, .date h5, .deux-tiers__chapter h3, .deux-tiers__aside h3, .title-content h5, p a:hover
		color: $color-conseil-dark

	#introduction, #realated, .un-tiers__text, .deux-tiers__aside
		background: $color-conseil-light

	p a
		background-image: linear-gradient(45deg, $color-conseil-dark, $color-conseil-dark)
		&:hover
			color: $color-conseil-dark

	#layout

		.deux-tiers__chapter ~ .deux-tiers__paragraph

			&:first-of-type
				&:first-letter
					color: $color-conseil-dark


#article, #guide, #conseil

	#introduction

		h1
			+media-sm-and-less
				font-size: 45px

#introduction
	text-align: center
	padding-top: 12.5%
	padding-bottom: 16.66%

	+media-sm-and-less
		overflow: initial;

	&-title
		padding-bottom: 4.16%

		.categories
			display: inline-block
			position: relative
			margin-bottom: 30px
			left: 15px
			z-index: 2

		.randomize 
			z-index: -2
	h1
		width: 100%
		float: left
		position: relative
		z-index: 1

		span
			display: inherit
			margin-top: 30px

	h3 
		font-size: 20px
		line-height: 40px
		text-align: center
		font-style: italic

		+media-sm-and-less
			font-size: 24px
			line-height: 32px
	
	.country-code 

		position: absolute
		left: 33%
		right: 33%
		top: 33%
		bottom: 0
		line-height: 0
		text-align: left
		z-index: 0
		
		h5 
			left: 200%
			transition: all 1.2s cubic-bezier(.4,0,.2,1)
			transition-delay: 200ms
			font-size: 24vw
			letter-spacing: 0;
			opacity: 0.15
			
		
	.label

		position: absolute
		top: -50%
		bottom: 100%
		left: 33%
		right: 65%
		z-index: 0
		
		img

			left: -200%
			top: -200%
			transition: all 1.2s cubic-bezier(.4,0,.2,1)
			transition-delay: 200ms
			width: 100px
			opacity: 0.5
		
	.date
		position: absolute
		top: 80%
		bottom: 10%
		left: 40%
		right: 40%
		z-index: 0

		h5	
			font-size: 30px
			letter-spacing: 0.2em
			opacity: 0.75	

	&__thumbnail
		padding-bottom: 4.16%

		.image
			margin-top: -8.33%


#layout

	.deux-tiers__chapter ~ .deux-tiers__paragraph

		&:first-of-type
			&:first-letter
				float: left
				font-weight: 900
				font-size: 4em
				margin-top: 7px
				margin-right: 0.20em
				line-height: 90%

	