.article 
	overflow: hidden
	
	.country-code h5, .categories, .date h5, .deux-tiers__chapter h3, .title-content h5
		color: $color-article-dark

	#introduction, #realated, .un-tiers__text
		background: $color-article-light

.article, .guide
	h1
		+media-sm-and-less
			font-size: 45px

#introduction
	text-align: center
	padding-top: 12.5%
	padding-bottom: 16.66%

	+media-sm-and-less
		overflow: initial;

	&-title
		padding-bottom: 4.16%

		.categories 
			margin-bottom: 30px
			z-index: 2

		.randomize 
			z-index: -2
	h1
		width: 100%
		float: left

	h3 
		font-size: 30px
		line-height: 60px
		text-align: center
		font-style: italic

		+media-sm-and-less
			font-size: 24px
			line-height: 32px
	
	.country-code 

		position: absolute
		left: 33%
		right: 33%
		top: 33%
		bottom: 0
		line-height: 0
		text-align: left
		z-index: 0
		
		h5 
			left: 200%
			transition: all 1.2s cubic-bezier(.4,0,.2,1)
			transition-delay: 200ms
			font-size: 24vw
			letter-spacing: 0;
			opacity: 0.15
			
		
	.label

		position: absolute
		top: -50%
		bottom: 100%
		left: 33%
		right: 65%
		z-index: 0
		
		img

			left: -200%
			top: -200%
			transition: all 1.2s cubic-bezier(.4,0,.2,1)
			transition-delay: 200ms
			width: 100px
			opacity: 0.5
		
	.date
		position: absolute
		top: 80%
		bottom: 10%
		left: 40%
		right: 40%
		z-index: 0

		h5	
			font-size: 20px
			opacity: 1
			opacity: 0.75	

	&__thumbnail
		padding-bottom: 4.16%

		.image
			margin-top: -8.33%

#sections
	padding-bottom: 4.16%



